<!DOCTYPE html>
<html>

<head>
  <title>CARAS | Misión</title>
</head>

<body>

<div class="jumbotron" style="background-image: url(nativemural1024x768.jpg);">
  <div>
    <h1>CARAS</h1>
    <p>Learn About Our Organization</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div id="left" style="float: left">
        <h1><img src="caras-logo-transparent-no-text.png" width="300px" style="padding-right: 20px;"></img></h1>
      </div>
      <div id="right">
      <h1>SPANISH About CARAS SPANISH</h1>
      <p>SPANISH CARAS was founded in 2011. SPANISH Our goal is to provide services and resources for the Latino community. SPANISH</p>
      <p>SPANISH We offer many great services such as help with legal SPANISH documents, classes to help immigrants SPANISH get driver's licenses and much more. SPANISH</p>
      </div>
    </div>
</div>

<%= render file: "layouts/footer" %>

</body>

</html>