<!DOCTYPE html>
<html>

<head>
	<title>CARAS | Festival del Tamal</title>
	<%= javascript_include_tag 'tamale_tabs_es_functions', 'data-turbolinks-track' => true %>
</head>

<body>
	<div class="jumbotron" style="margin-bottom: 0; background-image: url(tamale_header_1.jpg);">
	  <div>
	    <h1 style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Festival del Tamal</h1>
	    <p style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">SPANISHBrought to you SPANISHby CARAS and ElSPANISH Charrito Market</p>
	  </div>
	</div>

	<p style="font-size: 7px; text-align: right; padding-bottom: 23px; padding-right: 10px">PhotoSPANISH by <a style="padding-left: 0" href="https://www.flickr.com/photos/shaynabright/" target="_blank">shaynabright</a>. License SPANISHcan be found <a style="padding-left: 0" href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">here</a>.</p>

	<div class="container">
	    <div class="row">
	      <ol class="breadcrumb">
	        <li><a style="padding-left: 0;" href="events-en">Eventos</a></li>
	        <li class="active"><a style="padding-left: 0;" href="#">Festival de Tamal</a></li>
	      </ol>

	      <ul class="nav nav-tabs">
	        <li role="presentation" class="active"><a href="#" id="description" >Description SPANISH</a></li>
	        <li role="presentation"><a href="#" id="sponsors">Sponsors SPANISH</a></li>
	        <li role="presentation"><a href="#" id="entertainment">Entertainment and Vendors SPANISH</a></li>
	        <li role="presentation"><a href="#" id="registration">Contest and Vendor Registration SPANISH</a></li>
	      </ul>
	      <div id="tab-container"></div>
	    </div>
	</div>

	<%= render file: "layouts/footer" %>

</body>

</html>
</body>

</html>