<!DOCTYPE html>
<html>

<head>
  <title>CARAS | Misión</title>
</head>

<body>

<div class="jumbotron" style="background-image: url(nativemural1024x768.jpg);">
  <div>
    <h1>CARAS</h1>
    <p>Aprenda Sobre Nuestra Organización</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div id="left" style="float: left">
        <h1><img src="/caras-logo-transparent-no-text.png" width="300px" style="padding-right: 20px;"></img></h1>
      </div>
      <div id="right">
      <h1>Acerca CARAS</h1>
        <p>CARAS es una organización sin fines de lucro formada para atender a los jóvenes y las familias de entrada en la comunidad throu ofrecer una programación culturalmente competente y sensible función de las necesidades y los activos presentes en el sur del Condado de Santa Clara. </p>
        <p>Caras fue formado por memebers comunitarios afectados por la falta de servicios disponibles para las familias latinas. Los servicios que ofrecemos incluyen, pero no están limitados a, programas para padres, mujeres, niños, adolescentes y adultos mayores.</p>
        <p> CARAS programas se centran en el liderazgo, la intervención de los jóvenes en situación de riesgo, la educación y la salud y estado físico, así como la defensa y los derechos de los inmigrantes.</p>
      </div>
    </div>
</div>

<%= render file: "layouts/footer" %>

</body>

</html>