<!DOCTYPE html>
<html>

<head>
	<title>CARAS | About Us</title>
</head>

<body>

<div class="jumbotron" style="background-image: url(nativemural1024x768.jpg);">
  <div>
    <h1>CARAS</h1>
    <p>Learn About Our Organization</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div id="left" style="float: left">
        <h1><img src="caras-logo-transparent-no-text.png" width="300px" style="padding-right: 20px;"></img></h1>
      </div>
      <div id="right">
      <h1>About CARAS</h1>
        <p>CARAS is a non-profit organization formed to serve incoming youth and families in the community throu providing culturally competent and sensitive programming based on the needs and assets present in South Santa Clara County.</p>
        <p>Caras was formed by community memebers concerned with the lack of services available to Latino families. The services we provide include, but are not limited to, programs for parents, women, children, adolescents and seniors.</p>
        <p>CARAS programs focus on leadership, intervention for at risk youth, education and health and fitness as well as advocacy and immigrant's rights.</p>
      </div>
    </div>
</div>

<%= render file: "layouts/footer" %>

</body>

</html>
