<!DOCUMENT html>
<html>

	<head>
		<title>CARAS | Car Show</title>
	</head>
	
	<body>
		<div class="jumbotron">
			<div>
				<h1>Car Show</h1>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div id="right">
					<h1>Forms</h1>
					<p>If you'd like to register your car, motorcycle, or bicycle to the show, please click the button below and fill out the form.</p>
					<button type="button" class="btn btn-default">Register Online</button>
				</div>
			</div>
		</div>
		
		<%= render file: "layouts/footer" %>
	</body>
		
</html>