<!DOCTYPE html>
<html>

<head>
  <title>CARAS | Contact Us</title>
  <script>$(document).ready(function(){
                    if($('body').width() < 638){
                        $('iframe').height(0);
                      }

                    $(window).resize(function() {
                      if($('body').width() < 638){
                        $('iframe').height(0);
                      }
                      else{
                        $('iframe').height(300);
                      }
                    });
                  });
        </script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="#">CARAS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="about-us-en">About</a></li>
        <li class="active"><a href="#">Contact<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tamale Festival</a></li>
          </ul>
        </li>
        <li><a href="#">Volunteer</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href='#'>Meet the Team</a></li>
        <li><a href='#'>Donate</a><li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron" style="background-image: url(aztecmural.jpg);">
  <div>
    <h1>CARAS</h1>
    <p>How to Contact Us</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div id="left" style="float: right">
        <h1><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3186.1564810305445!2d-121.5681427!3d37.0060631!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091e3b977fa2433%3A0xc938153c171926e0!2s7365+Monterey+Rd%2C+Gilroy%2C+CA+95020!5e0!3m2!1sen!2sus!4v1439514560273" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></h1>
      </div>
      <div id="right">
      <h1>Contact Information</h1>
      <h2>Office</h2>
      <p>We recently moved into an amazing new office at the Old Gilroy Hotel. Our street address is <b>7365 Monterey Rd Gilroy, CA 95020</b>.</p>
      <h2>Phone</h2>
      <p>(408)847-4978</p>
      <h2>Fax</h2>
      <p>(408)846-1089</p>
      </div>
    </div>
</div>

<footer class="footer">
  <div class="container" style="text-align: center">
    <hr/>
    <div class="container">
      <a href="https://www.facebook.com/CARASSouthCounty" style="padding-right: 5px" target="_blank"><img alt="Facebook" src="FB-f-Logo__blue_57.png" width = "25px"></img></a>
      <a href="#" target="_blank"><img alt="Instagram" src="Instagram_Icon_Large.png" width="25px"></img></a>
      <a href="#" target="_blank"><img alt="Twitter" src="TwitterLogo.png" width="30px"></img></a>
    </div>
    <p class="text-muted">&copy CARAS 2015</br><a id="espanol" class="text-muted" href="contact-us-es">Espanol?</a></p>
  </div>
</footer>

</body>

</html>