<!DOCTYPE html>
<html>

<head>
	<title>CARAS | Tamale Fest 2015</title>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="about-us-en">CARAS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="about-us-en">About</a></li>
        <li><a href="contact-us-en">Contact</a></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="sr-only">(current)</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% for event in Event.all %>
              <%= link_to event.name, '#' %>
            <%end%>
          </ul>
        </li>
        <li><a href="#">Volunteer</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href='#'>Meet the Team</a></li>
        <li><a href='#'>Donate</a><li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron" style="margin-bottom: 0; background-image: url(tamale_header_1.jpg);">
  <div>
    <h1 style="color: white;">Second Annual Tamale Festival</h1>
    <p style="color:white;">Brought to you by CARAS and El Chorito</p>
  </div>
</div>

<p style="font-size: 7px; text-align: right; padding-bottom: 23px; padding-right: 10px">Photo by <a style="padding-left: 0" href="https://www.flickr.com/photos/shaynabright/" target="_blank">shaynabright</a>. License can be found <a style="padding-left: 0" href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">here</a>.</p>

<div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#">Events</a></li>
        <li class="active"><a href="#">Tamale Festival 2015</a></li>
      </ol>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Description</a></li>
        <li role="presentation"><a href="#">Sponsors</a></li>
        <li role="presentation"><a href="#">Entertainment and Vendors</a></li>
        <li role="presentation"><a href="#">Registration</a></li>
      </ul>
      <h1>Second annual tamale fest</h1>
      <p>great descriptions!! </p>
    </div>
</div>

<footer class="footer">
  <div class="container" style="text-align: center">
    <hr/>
    <div class="container">
      <a href="https://www.facebook.com/CARASSouthCounty" style="padding-right: 5px" target="_blank"><img alt="Facebook" src="FB-f-Logo__blue_57.png" width = "25px"></img></a>
      <a href="#" target="_blank"><img alt="Instagram" src="Instagram_Icon_Large.png" width="25px"></img></a>
      <a href="#" target="_blank"><img alt="Twitter" src="TwitterLogo.png" width="30px"></img></a>
    </div>
    <p class="text-muted">&copy CARAS 2015</br><a id="espanol" class="text-muted" href="about-us-es">Espanol?</a></p>
  </div>
</footer>

</body>

</html>