<!DOCUMENT html>
<html>

	<head>
		<title>CARAS | Tamale Cook Off</title>
	</head>
	
	<body>
		<div class="jumbotron">
			<div>
				<h1>Tamale Cook Off</h1>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div id="right">
					<h1>Forms</h1>
					<p>If you'd like to register to be in the tamale cook off, please click the button below and fill out the form.</p>
					<a href="/tamale-cook-off/new">
						<button type="button" class="btn btn-default">Register Online</button>
					</a>
				</div>
			</div>
		</div>
		
		<%= render file: "layouts/footer" %>
	</body>
		
</html>