<%= javascript_include_tag 'footer_functions', 'data-turbolinks-track' => true %>

<footer class="footer">
	  <div class="container" style="text-align: center">
	    <hr/>
	    <div class="container">
	      <a href="https://www.facebook.com/CARASSouthCounty" style="padding-left:0" target="_blank"><img alt="Facebook" src="FB-f-Logo__blue_57.png" width = "25px"></img></a>
	      <a href="#" target="_blank" style="padding-right:20px"><img alt="Instagram" src="Instagram_Icon_Large.png" width="25px"></img></a>
	      <a href="https://twitter.com/CARASSCOUNTY?lang=en" style="padding-left: 0" target="_blank"><img alt="Twitter" src="TwitterLogo.png" width="30px"></img></a>
	    </div>
	    <p class="text-muted">
	    	<a id="language-button"style="padding-left: 0"class="text-muted"></a>
	    </p>
	  </div>
	</footer>